
.icon-plan-eves-icons_booking:before { content: '\e800'; } /* '' */
.icon-plan-eves-icons_dashboard:before { content: '\e801'; } /* '' */
.icon-plan-eves-icons_profiles:before { content: '\e802'; } /* '' */
.icon-plan-eves-icons_settings:before { content: '\e803'; } /* '' */
.icon-plan-eves-icons_add:before { content: '\e804'; } /* '' */